<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restaurant_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Restaurant_Project.styles.css" asp-append-version="true" />
    <!-- Favicons -->
    @* <link href="~/assets/img/favicon.png" rel="icon"> *@
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/assets/css/main.css" asp-append-version="true" rel="stylesheet">
    <link href="~/assets/css/mystyle.css" asp-append-version="true" rel="stylesheet">

</head>
<body class="index-page">
    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="header-container">
        <div class="container position-relative d-flex align-items-center justify-content-between">

            <a href="/Home/index" class="logo d-flex align-items-center me-auto me-xl-0">
                <div class="food">
                    <h1 class="sitename txt-color">7SEAS</h1>
                    @* <span>.</span> *@
                    <p>Savor and Breeze</p>
                </div>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul class="ul">
                    <li><a href="/Home/index" class="active">Home<br></a></li>
                    <li><a href="/Home/index/#about">About</a></li>
                    <li><a href="/Menu/Menu">Menu</a></li>
                    <li><a href="/Home/index/#chefs">Chefs</a></li>
                    <li><a href="/Home/index/#contact">Contact</a></li>
                    @if(User.IsInRole("Admin"))
                    {
                        <li class="dropdown"><a href="#"><span>Dashboard</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                              <li><a href="/Category/Index">Categories</a></li>
                                    <li><a href="/Dish/Index">Dishes</a></li>
                            </ul>
                        </li>
                    }
                    <li><a class="fish-a" href="/Cart/Cart"><i class="fa-solid fa-fish fish"></i></a></li>
                    <li class="search">
                        <form action="/Home/index" method="get">
                        <div> 
                        <i class="fa-solid fa-magnifying-glass search-icon" style="color: #053094;"></i>
                        <input type="search" id="searchbar" placeholder="Type a Keyword"/>
                        </div>
                    </form>    
                    </li>
                    

                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
        </div>
        <partial name="_LoginPartial" />
        </div>
    </header>
    <main class="main pb-3" role="main">
        @RenderBody()
    </main>


    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <!-- FontAwesome File-->
    <script src="https://kit.fontawesome.com/f21c378b97.js" crossorigin="anonymous"></script>

</body>
</html>

@await RenderSectionAsync("Scripts", required: false)