﻿@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager

<head>
    <link href="~/assets/css/Loggedin.css" asp-append-version="true" rel="stylesheet" />

</head>
@if (signInManager.IsSignedIn(User))
{
    var currentUser = await userManager.GetUserAsync(User);
    bool isAdmin = false;
    if (currentUser != null)
    {
        isAdmin = await userManager.IsInRoleAsync(currentUser, "Admin");
    }

    <div class="logged">
        <div class="center-photo">
        <img src="~/assets/img/@currentUser.Image" />
            <p>Hello, <span @(isAdmin ? "class=isAdmin" : "class=user")>@currentUser.Name</span></p>
        </div>
        <a class="btn-getstarted" asp-controller="Account" asp-action="Logout">Logout</a>
    </div>
}
else
{
    <div class="logged">
        <a class="btn-getstarted" asp-controller="Account" asp-action="LoginSignUp">Login/Register</a>
    </div>
}

