<h2>Create New Dish</h2>

<form action="/Dish/Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input required type="text" class="form-control" id="exampleInputEmail1" name="Name" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputDescription" class="form-label">Description</label>
        <input required type="text" class="form-control" id="exampleInputDescription" name="Description" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputphoto" class="form-label">Image</label>
        <input required type="file" class="form-control" id="exampleInputphoto" name="Image" aria-describedby="emailHelp" onchange="previewImage(event)">
        <br>
        <img id="photoPreview" src="#" alt="Image Preview" ; width: 200px; height: auto;">
    </div>
    <div class="mb-3">
        <label for="exampleInputprice" class="form-label">Price</label>
        <input required type="number" class="form-control" id="exampleInputprice" name="price" aria-describedby="emailHelp">
    </div>
   <div class="mb-3 form-check">   

    <input type="checkbox" class="form-check-input" id="exampleInputInStock" name="InStock" value="true">
    <label class="form-check-label" for="exampleInputInStock">In Stock</label>
</div>

    <div class="mb-3">
        <label for="exampleInputcategoryId" class="form-label">Category Name</label>

        <select name="categoryId" class="form-select">
            @foreach (var item in Model)
            {
                <option value="@item.Id"> @item.Name</option>

            }

        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var output = document.getElementById('photoPreview');
            output.style.display = 'block'; // Show the image preview
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
