body {
}
/*start-header*/
.header-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}
/*End-Header*/
.footer2 {
    position: absolute;
}

.dish1 {
    width: 400px !important;
}

.chef {
    width: 300px;
}

.txt-color {
    color: #18a1e0 !important;
    text-align: center !important;
}

.food p {
    color: #18a1e0 !important;
}

.img-width {
    width: 415.99px !important;
}

/*start-media-query*/

@media(max-width:1200px) {
    .search {
        margin-top: 20px !important;
        width: 50% !important;
        margin: 0 auto !important;
        align-self: center !important;
        position: relative !important;
    }

        .search #searchbar {
            width: 100% !important;
        }

    .search-icon {
        position: absolute !important;
        left: 3% !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
    }
}
/*End-Media-Query*/
.search #searchbar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 30px;
    position: relative;
    outline: none;
    width: 175px;
    color: #7f7f90;
    transition: width .3s;
}

    .search #searchbar:focus {
        width: 200px;
    }

.search-icon {
    color: #ccc !important;
    z-index: 100;
    color: blue;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateX();
    transform: translateY(-50%);
}

/*----------------------Category Table Design-----------*/
.c-view {
    width: 70% !important;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

    .c-view a {
        color: white;
        text-decoration: none;
    }

.table-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.table-design {
    border: 1px solid #212529 !important;
    width: 70% !important;
}

    .table-design td {
        border: 1px solid #212529 !important;
    }

    .table-design .thead td {
        color: #212529 !important;
        background-color: #18a1e0 !important;
        text-align: center;
    }

.table-icon {
    background-color: transparent;
    border: none;
}

.table-design img {
    width: 70px;
}
/*End Table Design*/

/*Start Account*/
.account {
    color: white;
    background-image: url(/assets/img/stats2.png);
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
}

    .account:before {
        z-index: -1 !important;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 65%);
    }

    .account .btn {
        background-color: #18a1e0 !important;
    }

        .account .btn:hover {
            background-color: #25a0d9 !important;
        }

.account-container {
    margin: 0 auto !important;
    width: 50% !important;
    z-index: 10000;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50% !important;
    left: 50% !important;
}
/*End Account*/
/*start-logged-in*/
.center-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
}
/*End-logged-in*
/*Fish*/
.fish {
    font-size: 25px !important;
}
.fish-a:hover:before {
    visibility: hidden !important;
    background-color: transparent !important;
    width:0% !important;
}

.out-of-stock {
    position: relative;
    font-size: 25px !important;
    color: gray; /* السمكة تبقى رمادي */
}

    .out-of-stock::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background: red; /* الخط الأحمر */
        transform: rotate(-20deg);
    }

/*ENd Fish*/
/*Start-Cart*/
.cart-btn {
    background-color: #18a1e0;
    border: none;
}

/*End-Cart*/

/*Order*/
.order {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 53%;
}

    .order p {
        margin: auto 0;
    }

    .order i {
        color: #7f7f90
    }
/*End Order*/
/*form design*/
.form-design {
    display: flex;
    flex-basis: 65%;
    justify-content: space-between;
}
/*end form design*/
@media(max-width:770px){
    .form-design{
        flex-direction:column;
    }
}
/*Start book table*/
.booktable{
    padding:5% 3%;
}
/*ENd book table*/
/*cat-dish*/

.cat-dish{
    display:flex;
    align-items:center;
    flex-direction:column !important;
/*    width:80%;*/
    margin:0 auto;
    text-align:center;
}
.cat-dish input,
.cat-dish select,
.cat-dish{
    margin: 0 auto;
}

.cat-dish input.form-control,
.cat-dish input[type="file"],
.cat-dish select.form-select {
    width: auto !important;
    flex: 0 1 auto !important;
    
}
.cat-dish .checkbox-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/*end cat-dish*/