body {
}
.footer2 {
    position:absolute;
}
.dish1 {
    width:400px !important;
}
.chef {
    width:300px;
}
.txt-color {
    color: #18a1e0 !important;
    text-align: center !important;
}
.food p {
    color: #18a1e0 !important;
}
.img-width{
    width:415.99px !important;
}

/*start-media-query*/

@media(max-width:1200px) {
.search {
    margin-top: 20px !important;
    width: 50% !important;
    margin: 0 auto !important;
    align-self: center !important;
    position: relative !important;
}
.search #searchbar {
width: 100% !important;
    
}
.search-icon {
position: absolute !important;
left: 3% !important;
top: 50% !important;
transform: translateY(-50%) !important;
}
}
/*End-Media-Query*/
.search #searchbar {
    padding:10px;
    border:1px solid #ccc;
    border-radius: 10px;
    padding-left: 30px;
    position: relative;
    outline: none;
    width: 175px;
    color: #7f7f90;
    transition:width .3s;
}
.search #searchbar:focus{
    width:200px;
}
.search-icon{
    color:#ccc !important;
    z-index:100;
    color:blue;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateX();
    transform: translateY(-50%);
}

/*----------------------Category Table Design-----------*/
.c-view {
    width: 70% !important;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.c-view a {
    color: white;
    text-decoration: none;
}
.table-container {
    display:flex !important;
    justify-content:center !important;
    align-items:center !important;
}
.table-design {
    border: 1px solid #212529 !important;
    width: 70% !important;
}
.table-design td {
    border: 1px solid #212529 !important;
}
.table-design .thead td {
    color: #212529 !important;
    background-color: #18a1e0 !important;
    text-align:center;
}
.table-icon{
    background-color:transparent;
    border:none;  
}