body {
}
.footer2 {
    position:absolute;
}
.dish1 {
    width:400px !important;
}
.chef {
    width:300px;
}
.txt-color {
    color: #18a1e0 !important;
    text-align: center !important;
}
.food p {
    color: #18a1e0 !important;
}